/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Removing Select option z-index bug in Bulma */
.select:not(.is-multiple):not(.is-loading)::after {
    z-index: 2 !important;
}

html {
    overflow: hidden;
}

.hide {
    display: none;
}

.desktop-view-toggle {
    display: block;
}

.mobile-view-toggle {
    display: none;
}

/* Tooltip Copy Button Starts */

.copy-button-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.copy-button-tooltip button {
    cursor: pointer;
}

.copy-button-tooltip .copy-button-tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.copy-button-tooltip .copy-button-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copy-button-tooltip:hover .copy-button-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.copy-button-tooltiptext-bottom {
    bottom: -150% !important;
}

/* Tooltip Copy Button Ends */

.full-page-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.header-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.header-left-container {
    width: 200px;
    height: 100%;
    padding-top: 10px;
    padding-left: 5px;
}

.header-right-container {
    height: 100%;
    padding-top: 15px;
    padding-right: 5px;
}

.playground-container {
    height: 90%;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #cdffff;
}

.api-list-container {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.selected-card {
    background-color: #1E92FB !important;
    color: white !important;
}

.api-io-container {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: auto;
}

.api-form-container {
    width: 80%;
    margin: auto;
    height: 50%;
    overflow-y: auto;
    overflow-x: auto;
}

.api-response-container {
    width: 80%;
    margin: auto;
    height: 50%;
    /* overflow-y: auto;
    overflow-x: auto; */
}

.response-code-container {
    max-height: 130px;
    overflow-y: auto;
}

/* ----------------------------------------------- Overlay form Container */

/* Page Load Overlay */
#page-load-overlay {
    background-color: rgb(212, 212, 212);
    opacity: 0.8;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


@media (max-width: 768px), (max-height: 768px) {

    .desktop-view-toggle {
        display: none;
    }

    .mobile-view-toggle {
        display: block;
    }

    .header-left-container {
        width: 80px;
    }

    .order-form-container {
        width: 350px;
        height: 450px;
    }
}