/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Removing Select option z-index bug in Bulma */
.select:not(.is-multiple):not(.is-loading)::after {
    z-index: 2 !important;
}

html {
    overflow: hidden;
}

.hide {
    display: none;
}

.text-width-limiter {
    width: 100%;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.desktop-view-toggle {
    display: block !important;
}

.mobile-view-toggle {
    display: none !important;
}

/* Tooltip Copy Button Starts */

.copy-button-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.copy-button-tooltip button {
    cursor: pointer;
}

.copy-button-tooltip .copy-button-tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.copy-button-tooltip .copy-button-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copy-button-tooltip:hover .copy-button-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.copy-button-tooltiptext-bottom {
    bottom: unset !important;
    top: 150%;
}

.copy-button-tooltiptext-bottom::after {
    top: unset !important;
    bottom: 100%;
}

/* Tooltip Copy Button Ends */

.full-page-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.header-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.header-left-container {
    width: 200px;
    height: 100%;
    padding-top: 10px;
    padding-left: 5px;
}

.header-right-container {
    height: 100%;
    padding-top: 15px;
    padding-right: 5px;
}

.down-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 5px;
    margin-bottom: 5px;
}

.profile-dropdown-container {
    position: relative;
    display: inline-block;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown-content a:hover {
    background-color: #ddd;
}

.profile-dropdown-container:hover .profile-dropdown-content {
    display: block;
}

/* Header Styling Ends And Search Starts */

.search-container {
    width: 80%;
    height: 80%;
    margin: auto;
}

.search-body-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.search-bar-container {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    height: 25%;
}

.location-filter-container {
    width: 50%;
    float: left;
    padding-right: 5px;
}

.location-filter-body {
    float: right;
}

.tag-filter-container {
    width: 50%;
    float: right;
    padding-left: 5px;
}

.filter-text-container {
    width: 100%;
}

.search-list-container {
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
    padding-top: 5px;

    -moz-box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
    -webkit-box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
    box-shadow: inset 0px 5px 3px -5px #CCC, inset 0px -5px 3px -5px #CCC;
}

.search-list-empty-text {
    font-size: 20px;
    color: rgb(173, 173, 173);
    width: 200px;
    margin: auto;
}

.card-container-outside {
    width: 90%;
    padding: 10px !important;
    margin: auto;
}

.card-container {
    width: 100%;
}

/* Card Main Section */

.card-main-container {
    margin-bottom: 0 !important;
}

.card-element-container {
    font-size: large;
    font-weight: 600;
    padding: 10px;
}

.vendor-number-container {
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline solid;
}

.rating-container {
    color: #ffcd3c;
}

.vendor-code-container {
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline solid;
}

.website-link-button {
    color: white;
    padding: 10px;
    border-radius: 4px;

    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    background: linear-gradient(90deg, #03FFFE, #1E92FB 51%, #03FFFE) var(--website_button_var, 0)/ 200%;

}

.website-link-button:hover {
    color: rgb(223, 223, 223);
    --website_button_var: 100%;
}

/* Card Second Section */

.card-view-more-container {
    width: 100%;
    height: 45px;
    padding-right: 20px;
}

.card-view-more-button {
    float: right;
    transition: 0.5s;
    color: #1E92FB;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.card-second-container {
    max-height: 30px;
    overflow-y: hidden;
    transition: max-height 0.3s ease-in;
}

.card-expanded-container {
    max-height: 200px;
    transition: max-height 0.7s ease-out;
}

.card-expand-container {
    border-top: solid 1px black;
    width: 100%;
}

.services-list-container li {
    display: inline;
    margin-right: 10px;
}

/* ----------------------------------------------- Overlay form Container */

.content-overlay {
    background-color: rgb(209, 209, 209);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.overlay-cross-container {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 3%;
    margin-right: 3%;
    cursor: pointer;
    color: rgb(117, 117, 117);
}

/* Login Form */

.login-box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 60vh;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    overflow-x: hidden;
}

.login-heading-container {
    font-size: 30px;
    font-weight: 800;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
}

.login-form-container {
    padding-top: 20px;
    width: 80%;
    margin: auto;
}

.form-field-outer-container {
    display: flex;
}

.form-content-container {
    color: rgb(212, 212, 212);
    padding-top: 30px;
    font-size: 20px;
    width: 100%;
    border-bottom: 2px solid rgb(212, 212, 212);
    transition: all 0.5s;
}

.form-label-container {
    color: rgb(146, 146, 146);
    font-size: 10px;
    padding-bottom: 5px;
    font-weight: 700;
}

.form-field-container {
    padding: 10px;
    font-size: 17px;
    width: 70%;
    border: none;
}

.form-field-container:focus {
    outline: none;
}

.form-field-select-container {
    width: 70px;
    font-size: 15px;
    padding: 2px;
    background: white;
}

.form-otp-container {
    margin: auto;
    width: fit-content;
    border-bottom: black;
    padding-left: 8px;
}

.form-field-otp-container {
    letter-spacing: 30px;
    font-size: large;
    border: 0;
    width: fit-content;
    margin: auto;
}

.form-content-container:focus-within {
    color: rgb(37, 37, 37);
    border-color: rgb(37, 37, 37);
}

.login-button-container {
    width: 80%;
    margin: auto;
    border-radius: 40px;
    text-align: center;
    background-image: linear-gradient(217deg, #00ceb1, #eb9ce9);
    transition: all 0.5s;
    cursor: pointer;
}

.login-button-internal {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    font-weight: 900;
}

.login-button-container:hover {
    background-image: linear-gradient(217deg, #00b89f, #c782c5);
}


/* Email Form */

.email-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    overflow-x: hidden;
}

/* Order Form */

.order-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 750px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.base-order-form-container {
    height: fit-content;
}

.internal-order-form-container {
    margin-top: 15px;
}

.add-button-per-order-form {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    margin-top: 10px;
}

.per-order-list-container {
    width: 95%;
    height: 180px;
    background-color: rgb(214, 214, 214);
    overflow-y: auto;
    margin: auto;
    border-radius: 10px;
}

.per-order-list-card {
    border-bottom: grey 1px solid;
}

.per-order-form-container {
    position: relative;
}

.per-order-list-container-mobile {
    width: 100%;
    height: 97%;
    background-color: rgb(214, 214, 214);
    overflow-y: auto;
    margin: auto;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    bottom: 40px;
}

/* ---------------------------------------- Adding Search Loading Animation */

.search-load-container {
    background-color: rgb(212, 212, 212);
    opacity: 0.8;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.search-load-content {
    width: 130px;
    height: 50%;
    margin: auto;
    margin-top: 27%;
}

.search-load-element {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Page Load Overlay */
#page-load-overlay {
    background-color: #03FFFE;
    opacity: 0.8;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


@media screen and (max-width: 870px), (max-height: 700px) {

    .desktop-view-toggle {
        display: none !important;
    }

    .mobile-view-toggle {
        display: block !important;
    }

    .header-left-container {
        width: 80px;
    }

    .search-container {
        width: 90%;
        height: 85%;
    }

    .order-form-container {
        width: 330px;
        height: 550px;
    }
    
    .search-bar-container {
        padding: 0;
        padding-top: 20px;
        font-size: 15px;
    }

    .search-list-container {
        margin-top: 5px;
    }

    .vendor-name-container {
        font-size: 17px;
        font-weight: 600;
    }

    .rating-container {
        font-size: 15px;
        font-weight: 800;
        float: right;
    }

    .starting-from-box {
        font-size: 15px;
        font-weight: 600;
    }

    .website-link-button {
        width: fit-content;
        width: -moz-fit-content;
        margin: auto;
        padding: 5px;
        font-size: 15px;
    }

    .card-view-more-container {
        padding-right: 0px;
    }

    .card-view-more-button:hover {
        background-color: rgb(255, 255, 255);
        color: #1E92FB;
    }

    .card-expanded-container {
        max-height: 300px;
    }
}

@media screen and (max-height:600px) {
    .search-bar-container {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    .website-link-button {
        padding: 5px;
        font-size: 12px;
    }
}


/* ------------------------------ No Vendor Found Div */

.no-vendor-found-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.no-vendor-found-internal-container {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    margin-top: 200px;
}

.not-found-image {
    width: 100%;
    padding: auto;
    height: 300px;
}

.not-found-homepage-container {
    margin: auto;
    width: 200px;
    width: fit-content;
    width: -moz-fit-content;
}

.not-found-homepage-button {
    border: none;
    padding: 15px;
    background-color: aqua;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 600;
    margin: auto;
}