:root {
    --primary: #03fffe;
    --secondary: #1e92fb;
    --tertiary: #a3a3a38f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Hind Siliguri", sans-serif;
}

.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    margin-top: 20%;
}

.section {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* header */

.header {
    position: sticky;
    padding: 10px;
    margin-bottom: 5px !important;
    top: 0;
    z-index: 5;
    background-color: white;
}

.nav {
    height: 80px;
    position: relative;
}

.left-container-nav {
    float: left;
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.right-container-nav {
    float: right;
    width: 65%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding-top: 20px;
}

.logo {
    /* position: absolute;
    left: 60px;
    top: 20px; */
    width: 50px;
    height: 50px;
    margin: 10px;
    text-shadow: var(--shadow);
    border-radius: 158px 158px 158px 158px;
    -webkit-border-radius: 158px 158px 158px 158px;
    -moz-border-radius: 158px 158px 158px 158px;
    box-shadow: var(--shadow);
    -webkit-box-shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
    -moz-box-shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
}

.name {
    /* position: absolute;
    left: 120px;
    top: 25%; */
    /* width: 250px; */
    color: var(--secondary);
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 15px;
}

.verified {
    /* position: absolute;
    left: 320px;
    top: 12px; */
    margin-left: 5px;
    margin-top: 15px;
    color: var(--primary);
}

a.option2 {
    /* position: absolute;
    left: 36%;
    top: 23px; */
    /* margin: 5%;
    margin-top: 20px; */
    width: 11%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    text-decoration: none;
    /* color: var(--primary); */
    text-shadow: 1px 2px 7px #03ffff54;
}

a.option3 {
    /* position: absolute;
    left: 45%;
    top: 23px; */
    /* margin: 5%;
    margin-top: 20px; */
    width: 11%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    text-decoration: none;
    /* color: var(--primary); */
    text-shadow: 1px 2px 7px #03ffff54;
}

a.option4 {
    /* position: absolute;
    left: 54%;
    top: 23px; */
    /* margin: 5%;
    margin-top: 20px; */
    width: 12%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    text-decoration: none;
    /* color: var(--primary); */
    text-shadow: 1px 2px 7px #03ffff54;
}

a.option5 {
    /* position: absolute;
    left: 64%;
    top: 23px; */
    /* margin: 5%;
    margin-top: 20px; */
    width: 17%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    text-decoration: none;
    /* color: var(--primary); */
    text-shadow: 1px 2px 7px #03ffff54;
}

a.option6 {
    /* position: absolute;
    left: 75%;
    top: 23px; */
    /* margin: 5%;
    margin-top: 20px; */
    width: 11%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    text-decoration: none;
    /* color: var(--primary); */
    text-shadow: 1px 2px 7px #03ffff54;
}

.btn-default.nav-toggle {
    position: absolute;
    height: 30px;
    width: 150px;
    top: 20px;
    left: 80%;

    text-decoration: none;
}

.hide {
    display: none !important;
}

a:hover {
    color: var(--secondary);
}

.link {
    position: relative;
    font-size: 1.3rem;
}

.link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--secondary);
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
}

.link:hover:after {
    width: 100%;
    left: 0;
    background: var(--secondary);
}

.btn-default {
    letter-spacing: 1px;
    line-height: 15px;
    border: 4px solid var(--secondary);
    /* padding: 10px; */
    border-radius: 10px;
    background: transparent;
    background-color: var(--secondary);
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: 650;
    font-size: 1.1rem;
    /* position: absolute;
    right: 10px;
    top: 20%; */
    /* width: 20%;
    margin: 10px;
    margin-top: 17px; */
    width: 18%;
    text-align: center;
    margin-top: -5px;
    height: 50px;
}

.btn-default:hover {
    color: var(--primary);
}

.fa-phone-alt {
    color: var(--primary);
}

.header {
    box-shadow: -1px 7px 399px -13px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: -1px 7px 399px -13px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -1px 7px 399px -13px rgba(0, 0, 0, 0.78);
}

/* header - mobile */

.nav-mob {
    position: relative;
}

.left-container-nav-mob {
    float: left;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.logo-mob {
    /* position: absolute;
    left: 2%;
    top: 12%; */
    height: 50px;
    width: 50px;
    margin: 10px;
    text-shadow: var(--shadow);
    border-radius: 158px 158px 158px 158px;
    -webkit-border-radius: 158px 158px 158px 158px;
    -moz-border-radius: 158px 158px 158px 158px;
    box-shadow: var(--shadow);
    -webkit-box-shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
    -moz-box-shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
}

.name-mob {
    /* position: absolute;
    left: 5rem;
    top: 20px; */
    color: var(--secondary);
    font-weight: 700;
    margin-top: 15px;
}

.verified-mob {
    /* position: absolute;
    left: 16rem;
    top: 13px; */
    margin-left: 5px;
    margin-top: 15px;
    color: var(--primary);
}

.nav-toggle {
    position: absolute;

    top: 25%;
    right: 2%;
    width: 70px;
    color: var(--secondary);
    padding: 0;
    border: none;
    background: none;
}

.option-list-mob {
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 650px;
    background-color: var(--secondary);
    right: 0;
}

.fa-times {
    position: absolute;
    left: 70%;
    top: 30px;
    color: white;
}

.option1-mob {
    position: absolute;
    top: 7em;
    left: 15%;
}

.option2-mob {
    position: absolute;
    top: 14em;
    left: 15%;
}

.option3-mob {
    position: absolute;
    top: 21em;
    left: 15%;
}

.option4-mob {
    position: absolute;
    top: 28em;
    left: 15%;
}

.option5-mob {
    position: absolute;
    top: 35em;
    left: 15%;
}

.link-mob {
    text-decoration: none;
    color: white;
    font-weight: 470;
}

.link-mob:hover {
    color: var(--primary);
}

.header-mob {
    display: none;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    margin-bottom: 0px;
}

/* Tile 1 desktop */

.tile_1_desk {
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    position: relative;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(12, 50px);
}

.curve_bg {
    width: 100vw;
    height: 100vh;
    grid-column: 1 / -1;
    grid-row: 1 / span 12;
    margin-top: auto;
    z-index: 0;
}

.h1 {
    width: 50%;
    grid-column: 2 / -1;
    grid-row: 4 / span 1;
    font-size: 2rem;
    font-weight: 600;
    color: var(--tertiary);
    z-index: 2;
}

.scooter {
    height: 700px;
    position: absolute;
    grid-row: 2 / span 5;
    grid-column: 2/ -1;
    right: 5%;
    z-index: 1;
}

.h2 {
    width: 600px;

    grid-column: 2 / -1;
    grid-row: 4 / span 3;
    font-size: 5.5rem;
    margin-top: 50px;
    font-weight: 900;
    color: var(--secondary);
    line-height: 100%;
    z-index: 2;
}

.btns {
    width: 50%;
    grid-column: 2 / -1;
    grid-row: 8 / span 1;
    margin-top: 30px;
    z-index: 2;

    display: flex;
}

.features {
    border: none;
    margin: 0 6px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 100px;
    padding: 1px 7px;
    height: 25px;
    border: solid 0.1rem #e1e5e7;
    color: var(--secondary);
    background-color: white;
    z-index: 2;
}

.h4 {
    width: 50%;

    grid-column: 2 / -1;
    grid-row: 9 / span 1;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--tertiary);
    z-index: 2;
}

.price {
    color: var(--secondary);
    font-weight: 900;
    z-index: 2;
}

.rupee {
    color: var(--secondary);
}

.star {
    color: var(--secondary);
}

.btn_order {
    width: 90vw;

    grid-column: 2 / -1;
    grid-row: 10 / span 1;
    margin-top: 20px;
    z-index: 2;
}

.order_btn {
    color: white;
    border: none;
    width: 200px;
    border-radius: 7px;
    font-size: 1.25rem;
    height: 45px;
    background-color: var(--secondary);
    z-index: 2;
}

button {
    cursor: pointer;
}

.fa-paper-plane {
    color: var(--primary);
    z-index: 2;
}

/* Tile 1 mobile */

.tile_1_mob {
    display: none;
    overflow: hidden;
}

.container_mob {
    height: 100vh;
    width: 100vw;
    display: grid;
    position: relative;

    grid-template-columns: 20px auto 20px;
    grid-template-rows: repeat(12, 1fr);
}

.curve_bg_mob {
    width: 100vw;
    height: 100vh;

    grid-column: 1 / -1;
    grid-row: 1 / span 12;
}

.scooter_mob {
    /* width: 325px; */
    height: 275px;
    grid-column: 1 / -1;
    grid-row: 3 / span 3;
    justify-self: center;
    /* margin-right: 20%; */
}

.h1_mob {
    grid-column: 2 / -1;
    grid-row: 2 / span 1;
    justify-self: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--tertiary);
    margin-right: 10%;
    z-index: 2;
}

.h2_mob {
    grid-column: 2 / -1;
    grid-row: 5 / span 4;
    align-self: center;
    justify-self: center;
    margin-right: 10%;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    line-height: 100%;
    z-index: 2;
}

.btns_mob {
    z-index: 2;
    grid-column: 2 / -1;
    grid-row: 7 / span 1;
    justify-self: center;
    position: absolute;
    margin-right: 5%;
    margin-top: 20px;
}

.features_mob {
    border: none;
    margin: 0 6px;
    font-size: 0.43rem;
    border-radius: 100px;
    padding: 0 7px;
    border: solid 0.1rem white;
    color: white;
    background-color: transparent;

    z-index: 2;
}

.h4_mob {
    grid-column: 2 / -1;
    grid-row: 8 / span 1;
    font-size: 1.2rem;
    justify-self: center;
    color: white;
    margin-right: 10%;
    z-index: 2;
}

.price_mob {
    color: var(--secondary);
    font-weight: 900;
    z-index: 2;
}

.order_btn_mob {
    grid-column: 2 / -1;
    grid-row: 8 / span 1;
    margin: auto;
    border: none;
    background-color: var(--secondary);
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 33%;
    width: 40%;
    height: 50%;
    font-size: 1rem;
    color: white;
    z-index: 2;
}

.cont_btn_mob {
    grid-column: 2 / -1;
    grid-row: 9 / span 1;
    margin: auto;
    border: none;
    background-color: var(--secondary);
    border-radius: 10px;
    justify-self: center;
    width: 40%;
    height: 50%;
    font-size: 1rem;
    color: white;
    margin-top: 30px;
    margin-right: 33%;
}

.fa-phone-alt {
    color: var(--primary);
}

/* Tile 2 desktop */

.tile_2_desk {
    overflow: hidden;
    overflow: hidden;
}

.container_2 {
    height: 100vh;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: repeat(12, 1fr);
}

.db_withbox {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-left: 10%;
    position: relative;
}

.db_withbox_img {
    /* height: 100%; */
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
}

.details {
    grid-row: 1 / span 2;
    align-self: end;
    margin-left: 10%;
    font-size: 1.7rem;
    color: var(--tertiary);
}

.underline_1 {
    border: 1px solid var(--secondary);
    width: 25%;
}

.card_1 {
    grid-row: 3 / span 2;
    margin-left: 10%;
    position: relative;
}

.square {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 40%;
    border-radius: 10px;
    background-color: var(--secondary);
}

.detail {
    position: absolute;
    left: 80px;
    top: 42%;
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 20px;
}

p {
    white-space: pre-line;
    line-height: 20px;
}

.detail_more {
    color: var(--tertiary);
    font-size: 0.9rem;
    text-transform: capitalize;
}

.card_2 {
    grid-row: 5 / span 2;
    margin-left: 10%;
    position: relative;
}

.card_3 {
    grid-row: 7 / span 2;
    margin-left: 10%;
    position: relative;
}

.card_4 {
    grid-row: 9 / span 2;
    margin-left: 10%;
    position: relative;
}

.star_desk {
    margin-top: 25%;
    margin-left: 25%;
}

.building_desk {
    margin-top: 25%;
    margin-left: 30%;
}

.users_desk {
    margin-top: 25%;
    margin-left: 20%;
}

.map_desk {
    margin-top: 25%;
    margin-left: 35%;
}

/* Tile 2 mobile */

.container_2_mob {
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: repeat(12, 1fr);
}

.db_withbox_mob {
    grid-column: 2 / 3;
    grid-row: 2 / span 4;
    justify-self: center;
}

.db_withbox_img_mob {
    height: 100%;
    width: 300px;
}

.details_mob {
    grid-column: 2 / 3;
    grid-row: 6 / span 1;
    font-size: 1.2rem;
    color: var(--tertiary);
    margin-top: 10%;
    margin-left: 10%;
}

.card_1_mob {
    grid-column: 2 / 3;
    grid-row: 7 / span 1;
    position: relative;
}

.square_mob {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 40%;
    left: 10%;
    border-radius: 10px;
    background-color: var(--secondary);
}

.star_mob {
    margin-left: 20%;
    margin-top: 20%;
}

.detail2_mob {
    position: absolute;
    left: 105px;
    top: 42%;
    color: var(--secondary);
    font-size: 1.1rem;
    font-weight: bolder;
    margin-top: 15px;
}

p {
    white-space: pre-line;
    line-height: 20px;
}

.detail_more_mob {
    color: var(--tertiary);
    font-size: 0.7rem;
    text-transform: capitalize;
}

.card_2_mob {
    grid-column: 2 / 3;
    grid-row: 8 / span 1;
    position: relative;
    /* margin-top: 18%; */
    top: 50%;
}

.building_mob {
    margin-top: 20%;
    margin-left: 26%;
}

.card_3_mob {
    grid-column: 2 / 3;
    grid-row: 9 / span 1;
    position: relative;
    /* margin-top: 25%; */
    top: 100%;
}

.users_mob {
    margin-top: 20%;
    margin-left: 15%;
}

.card_4_mob {
    grid-column: 2 / 3;
    grid-row: 10 / span 1;
    position: relative;
    top: 150%;
    /* margin-top: 25%; */
}

.map_mob {
    margin-top: 20%;
    margin-left: 30%;
}

.icons {
    color: var(--primary);
}

.tile_2_mob {
    display: none;
    overflow: hidden;
}

/* Tile 3 desktop */

.tile_3_desk {
    overflow: hidden;
}

.container2 {
    /* display: grid; */
    /* height: 100vh; */
    width: 100vw;
    /* grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr); */
}

.title_services {
    color: var(--tertiary);
    width: 200px;
    margin-left: 42%;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

.underline {
    border: 1px solid var(--secondary);
    width: 100%;
}

.container2_service {
    height: fit-content;
    display: flex;
    justify-content: center;
    /* align-content: flex-start; */
    flex-wrap: wrap;
}

/* .container2_service>* {
    flex: 1 1 50%;
} */


.service_1 {
    width: 25%;
    margin: auto;
    /* align-self: flex-start; */
    position: relative;
    text-align: center;
    padding: 10px;
}

.icon_outline {
    transform: translateX(-50%);
    margin-left: 50%;
    background-color: #fff;
    border: 1px solid rgb(255, 255, 255);
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    text-shadow: var(--shadow);
    /* border-radius: 158px 158px 158px 158px;
    -webkit-border-radius: 158px 158px 158px 158px;
    -moz-border-radius: 158px 158px 158px 158px; */
    box-shadow: var(--shadow);
    -webkit-box-shadow: 2px 3px 28px -8px var(--primary);
    -moz-box-shadow: 2px 3px 28px -8px var(--primary);
}

.icon_1 {
    transform: translate(-50%, 50%);
    margin-left: 50%;
    margin-bottom: 50%;
    color: var(--primary);
}

.service_title {
    color: var(--secondary);
    font-weight: 900;
    /* margin-left: 22%; */
    margin-top: 15px;
    font-size: 1.3rem;
}

p {
    white-space: pre-line;
    line-height: 20px;

    text-transform: capitalize;
    font-size: 0.95rem;
    color: var(--tertiary);
}

/* Tile 3 mobile */

.title_services_mob {
    color: var(--tertiary);
    /* margin-top: 20%; */
    margin-left: 42%;
    font-size: 1.4rem;

    font-weight: 700;
}

.underline_mob {
    border: 1px solid var(--secondary);
    width: 35%;
    margin-left: 35%;
}

.container2_mob {
    margin-top: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
    /* align-content: flex-start; */
    flex-wrap: wrap;
}

/* .container2_mob>* {
    flex: 1 1 50%;
} */

.service_1_mob {
    width: 50%;
    margin: auto;
    /* align-self: flex-start; */
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.icon_outline_mob {
    transform: translateX(-50%);
    margin-left: 50%;
    background-color: #fff;
    border: 1px solid rgb(255, 255, 255);
    height: 70px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 70px;
    text-shadow: var(--shadow);
    /* border-radius: 158px 158px 158px 158px;
    -webkit-border-radius: 158px 158px 158px 158px;
    -moz-border-radius: 158px 158px 158px 158px; */
    box-shadow: var(--shadow);
    -webkit-box-shadow: 2px 3px 28px -8px var(--primary);
    -moz-box-shadow: 2px 3px 28px -8px var(--primary);
}

.icon_1_mob {
    color: var(--primary);
    transform: translate(-50%, 50%);
    margin-left: 50%;
    margin-bottom: 50%;
}

.service_title_mob {
    /* position: absolute; */
    color: var(--secondary);
    margin-top: 15px;
    /* top: 79%;
    left: 17%; */
}

.para_mob {
    /* position: absolute; */
    color: var(--tertiary);
    font-size: 0.75rem;
    /* left: 10%; */
    /* top: 100%; */
}

.tile_3_mob {
    display: none;
}

/* Tile 4 desktop */

.container3 {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #03ffff18;
}

.title_4 {
    grid-column: 2 / 12;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--tertiary);
}

.underline__4 {
    border: 1px solid var(--secondary);
    width: 25%;
    margin-top: 10px;
}

.cards {
    grid-column: 2 / 12;
    grid-row: 4 / span 7;
    display: flex;
    justify-content: space-evenly;
}

.card__child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.square_box {
    height: 200px;
    width: 150px;
    background-color: var(--secondary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy_btn {
    justify-self: end;
    margin-bottom: 8%;
    margin-top: auto;
    border: none;
    width: 75%;
    border-radius: 20px;
    background-color: var(--primary);
}

.icon__1 {
    margin-top: 40%;
    color: var(--primary);
}

.copy {
    text-decoration: none;
    color: var(--secondary);
}

.main_text {
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--secondary);
    margin-top: 6%;
}

.secondary_text {
    text-transform: capitalize;
    color: var(--tertiary);
    text-align: center;
    width: 80%;
}

/* Tile 4 mob */

.container3_mob {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03ffff18;
}

.title_4_mob {
    font-size: 1.9rem;
    margin-top: 10%;
    color: var(--tertiary);
}

.underline__4_mob {
    border: 1px solid var(--secondary);
    width: 75%;
}

.square_box_mob {
    height: 100px;
    width: 100px;
    background-color: var(--secondary);
    margin-top: 7%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.icon__1_mob {
    color: var(--primary);
    position: absolute;
    justify-self: center;
    align-self: center;
    top: 16%;
}

.copy_btn_mob {
    justify-self: end;
    position: absolute;
    top: 65%;
    left: 5%;
    border: none;
    background-color: var(--primary);
    border-radius: 20px;
    width: 90%;
}

.main_text_mob {
    color: var(--secondary);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2%;
}

.secondary_text_mob {
    text-transform: capitalize;
    text-align: center;
    font-size: 0.75rem;
    color: var(--tertiary);
    width: 90%;
}

.tile_4_mob {
    display: none;
}

/* Tile 5 desktop */

.delivery {
    text-align: center;
    margin-top: 5%;
    color: var(--tertiary);
    font-weight: 600;
    font-size: 1.7rem;
}

.underline5 {
    border: 1px solid var(--secondary);
    width: 15%;
    margin: auto;
}

.container4 {
    height: 400px;
    width: 850px;
    margin: 2% auto;
    border: 2px solid var(--secondary);
    border-radius: 20px;
    position: relative;
}

.table_elements {
    margin-left: 2%;
    margin-right: 2%;
}

.row_name {
    color: var(--secondary);
}

.right_elements {
    position: absolute;
    right: 2%;
}

.hor_line {
    height: 1px;
    width: 100%;
    background-color: #a3a3a32d;
    margin-top: 1%;
}

.ver_line {
    height: 100%;
    width: 1px;
    position: absolute;
    right: 20%;
    background-color: #a3a3a32d;
    top: 0;
}

.row_elements {
    color: #7d7d7d;
}

.brackets {
    text-transform: capitalize;
    font-weight: 200;
}

/* Tile 5 mobile */

.delivery_mob {
    text-align: center;
    margin-top: 10%;
    color: var(--tertiary);
    font-weight: 600;
    font-size: 1.5rem;
}

.underline5_mob {
    border: 1px solid var(--secondary);
    width: 60%;
    margin: auto;
}

.container4_mob {
    height: 425px;
    width: 325px;
    margin: 4% auto;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    position: relative;
}

.table_elements_mob {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1rem;
}

.row_name_mob {
    color: var(--secondary);
}

.right_elements_mob {
    position: absolute;
    right: 3%;
}

.hor_line_mob {
    height: 1px;
    width: 100%;
    background-color: #a3a3a32d;
    margin-top: 1%;
}

.row_elements_mob {
    color: #7d7d7d;
    font-size: 0.9rem;
}

.brackets_mob {
    text-transform: capitalize;
    font-weight: 200;
}

.tile_5_mob {
    display: none;
}


/* footer */

.container_f {
    background-color: var(--secondary);
    width: 100%;
    height: 30vh;
    position: relative;
}

.container_f2 {
    background-color: black;
    height: 50px;
}

.foot_img {
    position: relative;
    height: 60px;
    width: 60px;
    left: 5%;
    top: 8%;
}

.name_foot {
    position: relative;
    display: inline;
    left: 6%;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.detail_foot {
    position: relative;
    display: inline;
    color: white;
    font-weight: 100;
    font-size: 0.9rem;
    left: 5%;
    top: 5%;
}

.get_foot {
    position: relative;
    /* display: inline; */
    font-weight: 100;
    font-size: 1.1rem;
    left: 5%;
    top: 25%;
    color: white;
}

.join_foot {
    color: var(--primary);
}

.join_foot:hover {
    color: var(--tertiary);
}

.links_foot {
    color: white;
    position: absolute;
    top: 6%;
    left: 60%;
}

.all_links_foot {
    position: absolute;
    color: white;
    left: 60%;
    top: 20%;
    text-decoration: none;
    font-size: 0.9rem;
}

.all_links_foot:hover {
    color: var(--primary);
}

.link-2 {
    position: absolute;
    top: 35%;
}

.link-3 {
    position: absolute;
    top: 50%;
}

.link-4 {
    position: absolute;
    top: 65%;
}

.link-5 {
    position: absolute;
    top: 80%;
}

.address_foot_container {
    position: absolute;
    top: 6%;
    left: 75%;
}

.addr_foot {
    /* position: absolute;
    top: 6%;
    left: 75%; */
    color: white;
}

.address_foot {
    /* position: absolute;
    top: 20%;
    left: 75%; */
    font-size: 0.7rem;
    color: white;
    width: 100px;
}

.refer_foot {
    /* position: absolute;
    top: 50%;
    left: 75%; */
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--primary);
}

.refer_foot:hover {
    color: var(--tertiary);
}

.cont_foot {
    position: absolute;
    top: 6%;
    left: 89%;
    color: white;
}

.number_foot {
    position: absolute;
    top: 20%;
    left: 89%;
    font-size: 13px;
    color: white;
    font-weight: lighter;
}

.floww_foot {
    position: absolute;
    top: 13px;
    width: 70px;
    /* left: 100%; */
    /* margin-top: 20px; */
    margin-left: 5px;
}

.power_foot {
    text-align: center;
    color: white;
    width: fit-content;
    margin: auto;
    position: relative;
    padding: 3px;
    padding-top: 10px;
}

/* footer mobile */

.container_f_mob {
    background-color: var(--secondary);
    width: 100%;
    height: 30vh;
    position: relative;
}

.container_f2_mob {
    background-color: black;
    height: 3vh;
}

.foot_img_mob {
    position: relative;
    height: 30px;
    width: 30px;
    left: 5%;
    top: 8%;
}

.name_foot_mob {
    position: relative;
    display: inline-grid;
    display: -ms-inline-grid;
    width: 150px;
    left: 6%;
    top: 3%;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.detail_foot_mob {
    position: absolute;
    color: white;
    font-weight: 100;
    font-size: 8px;
    left: 5%;
    top: 20%;
}

.get_foot_mob {
    position: absolute;
    display: inline;
    font-weight: 100;
    font-size: 8px;
    left: 5%;
    top: 65%;
    color: white;
}

.join_foot_mob {
    color: var(--primary);
}

.join_foot_mob:hover {
    color: var(--tertiary);
}

.links_foot_mob {
    color: white;
    position: absolute;
    top: 6%;
    left: 55%;
    font-size: 10px;
}

.all_links_foot_mob {
    position: absolute;
    color: white;
    left: 55%;
    top: 20%;
    text-decoration: none;
    font-size: 9px;
}

.all_links_foot_mob:hover {
    color: var(--primary);
}

.link-2_mob {
    position: absolute;
    top: 28%;
}

.link-3_mob {
    position: absolute;
    top: 36%;
}

.link-4_mob {
    position: absolute;
    top: 44%;
}

.link-5_mob {
    position: absolute;
    top: 52%;
}

.addr_foot_mob {
    position: absolute;
    top: 6%;
    left: 75%;
    color: white;
    font-size: 10px;
}

.address_foot_mob {
    position: absolute;
    top: 20%;
    left: 75%;
    font-size: 8px;
    color: white;
}

.refer_foot_mob {
    position: absolute;
    cursor: pointer;
    top: 40%;
    left: 75%;
    font-size: 7px;
    color: var(--primary);
}

.refer_foot_mob:hover {
    color: var(--tertiary);
}

.refer_foot_mob_2 {
    cursor: pointer;
    font-size: 0.7rem;
    color: var(--primary);
}

.refer_foot_mob_2:hover {
    color: var(--tertiary);
}

.cont_foot_mob {
    position: absolute;
    top: 55%;
    left: 75%;
    color: white;
    font-size: 10px;
}

.number_foot_mob {
    position: absolute;
    top: 65%;
    left: 75%;
    font-size: 8px;
    color: white;
    font-weight: lighter;
}

.floww_foot_mob {
    position: absolute;
    height: 10px;
    width: auto;
    left: auto;
    margin-top: 2px;
    margin-left: 5px;
}

.power_foot_mob {
    text-align: center;
    color: white;
    font-size: 10px;
}

.footer_mob {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }

    .header-mob {
        display: block;
    }

    .tile_1_desk {
        display: none;
    }

    .tile_1_mob {
        display: block;
    }

    .tile_2_desk {
        display: none;
    }

    .tile_2_mob {
        display: block;
    }

    .tile_3_desk {
        display: none;
    }

    .tile_3_mob {
        display: block;
    }

    .tile_4_desk {
        display: none;
    }

    .tile_4_mob {
        display: block;
    }

    .tile_5_desk {
        display: none;
    }

    .tile_5_mob {
        display: block;
    }

    .footer {
        display: none;
    }

    .footer_mob {
        display: block;
    }

    .loader {
        margin-top: 30%;
    }
}