/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

body {
    margin-top: -10px;
    margin-bottom: -30px;
    overflow-x: hidden;
}

.hide {
    display: none !important;
}

/* .full-page-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
} */



/* ------------------------------ No Vendor Found Div */

.no-vendor-found-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.no-vendor-found-internal-container {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    margin-top: 200px;
}

.not-found-image {
    width: 100%;
    padding: auto;
    height: 300px;
}

.not-found-homepage-container {
    margin: auto;
    width: 200px;
    width: fit-content;
    width: -moz-fit-content;
}

.not-found-homepage-button {
    border: none;
    padding: 15px;
    background-color: aqua;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 600;
    margin: auto;
}